@charset "utf-8";
/* CSS Document */

.clientAnnounce {
    color: blue;
    font-style: italic;
}

.serverAnnounce {
    color: green;
    font-style: italic;
}

#fixed-block-chat
    {
    position: fixed;
    right: 10px; 
	bottom: 0;
    /*top: 200px;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 287px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    background-color: #8ccce5;
    background-color: #029DD6;
    }
    #fixed-block-chat .close-wrapper
        {
        position: absolute;
        top: 13px;
        right: 10px;
        }
        #fixed-block-chat .close-wrapper a
            {
            display: block;
            background: url('btn_chat_close.png') no-repeat left;
            width: 39px;
            height: 39px;
            }
            #fixed-block-chat .close-wrapper a:hover
            {
                background: url('btn_chat_close-hover.png') no-repeat left;
            }
            #fixed-block-chat .close-wrapper a.click
            {
                background: url('btn_chat_close-click.png') no-repeat left !important;
            }
    #fixed-block-chat .input-wrapper
        {
        background: #fff;
        padding: 3px 12px 13px 19px;
        }
        #fixed-block-chat .input-wrapper input
        {
            border-radius: 5px;
            border: 1px solid #a1a0a0;
            padding:  3px 3px 3px 5px;
            font-family: 'Verdana';
            color: #979696;
            width: 85%;
            height: 35px;
        }
        #fixed-block-chat .input-wrapper textarea
        {
            border-radius: 5px;
            border: 1px solid #a1a0a0;
            padding: 5px 3px 5px 5px;
            font-family: 'Verdana';
            color: #979696;
            width: 88%;
            height: 35px;
            overflow: hidden;
        }
    #fixed-block-chat .footer
        {
            padding:10px;
            height: 64px;

        }
        #fixed-block-chat .footer .copyright
        {
            font-family: 'Verdana';
            font-size: 12px;
            color: #fff;
            display: block;
            float: left;
        }
    #fixed-block-chat .footer .send-wrapper
        {
            float:right;
        }
        #fixed-block-chat .footer .send-wrapper a
            {
            display: block;
            background: url('btn_chat_send.png') no-repeat left;
            width: 39px;
            height: 39px;
            }
            #fixed-block-chat .footer .send-wrapper a:hover
            {
                background: url('btn_chat_send-hover.png') no-repeat left;
            }
            #fixed-block-chat .footer .send-wrapper a.click
            {
                background: url('btn_chat_send-click.png') no-repeat left !important;
            }
#notifyField
    {
    height: 64px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #f3f2f2;
    }
    #notifyField .top-name
    {
        display: block;
        padding: 24px 0 0 70px;
        font-weight: bold;
    }
    #notifyField .avatar
    {
        border-radius: 100px; /* Радиус скругления */
        max-width: 55px;
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
    }
#chatField
    {
    background:#fff;
    overflow-y: scroll;
    height: 266px;
    font-family: 'Verdana';
    font-size: 12px;
    }
    #chatField .row
        {
        overflow: hidden;
        margin: 10px 0 10px 0;
        position: relative;
        }
        #chatField .row .msg
            {
            float:right;
            }
            #chatField .row .msg .text
            {
                display: block;
                padding: 7px;
                width: 180px;
                position: relative;
                border-radius: 5px;
                word-wrap: break-word;
            }

        #chatField .row .date-wrapper
            {
            position: absolute;
            height: 100%;
            }
            #chatField .row .date-wrapper .date
            {
                display:-moz-inline-box;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                zoom:1;
                color:#d0cfcf;
                font-size: 12px;
            }
            #chatField .row .date-wrapper .push
            {
                display:-moz-inline-box;
                display: inline-block;
                vertical-align: middle;
                zoom:1;
                height: 100%;
                width: 0px
            }
    #chatField .from
        {

        }
        #chatField .from .date-wrapper
        {
            right:10px;
        }
        #chatField .from .msg
            {
                background: url('btn_chat_right-arrow.png') no-repeat right;
                margin: 0 0 0 10px;
                float:left;
            }
            #chatField .from .msg .text
            {
                background: #ebf5fe;
                color: #5f5f5f;
                margin: 0 7px 0 0;
            }
    #chatField .to
        {

        }
        #chatField .to .date-wrapper
        {
            left: 10px;
        }
        #chatField .to .msg
            {
                background: url('btn_chat_left-arrow.png') no-repeat left;
                margin: 0 10px 0 0;
                float: right;
            }
            #chatField .to .msg .text
            {
                background: #efefef;
                color: #5f5f5f;
                margin: 0 0 0 7px;
            }

#logField {
    visibility: hidden;
    background-color: #EEE;
    font-family: Monospace;
    overflow: scroll;
    height: 35%;
    border: double 3px gray;
}

/*
#fixed-block-min {
    position: fixed;
    right: 0;
    top: 200px;
    background: url("chat.png") no-repeat;
    padding: 5px;
    width: 40px;
    height: 200px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}
*/
#fixed-block-min { position: fixed; right: 0; top: 200px; background: url("chat.png") no-repeat; padding: 5px; width: 40px; height:200px; border-top-left-radius: 6px; 	border-bottom-left-radius: 6px; cursor:pointer; }

#chatField a {
  color: #34B3E6;
  padding-right: 20px;
  background: url(chatattachment.png) no-repeat right;
}
